a {
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
}

/* Contenedor de la barra inicial */
header nav {
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}

/* Barra inicial */
header ul {
    display: flex;
}

header li a {
    margin: 0 10px;
}
header li a:hover {
    border-bottom: 3px solid white;
}

/* Buscador */
header li input {
    width: 500px; 
    height: 25px;
    border-radius: 50px;
    color: rgb(190, 190, 190);
}
header li i {
    margin-top: 5px;
}

/* Tecnovacion */
.nombre {
    height: 60px;
    font-family: "Quantico", sans-serif;
    font-weight: bold;
    font-size: 46px;
}
.nombre:hover {
    background-color: #313131;
}

/* Boton flotante */
.botonContainer {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}
.boton {
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(10%, -50%);
    z-index: -1;
}
.boton i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .3s;
}

/* Efecto de boton flotante */
.show {
    z-index: 10;
}
.show .boton {
    width: 50px;
    height: 50px;
    animation: popup .3s ease-in-out;
    z-index: 11;
}
.show i {
    transform: translate(-50%, -50%) scale(1);
}
@keyframes popup {
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        width: 60px;
        height: 60px;
    }
    100%{
        width: 50px;
        height: 50px;
    }
}