*{
    border: border-box;
    margin: 0;
    padding: 0;
}

header nav {background-color: black;border: 1px solid white;
    height: 60px;
    padding: 5px 0;
    color: white;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}

header ul {
    display: flex;
    list-style: none;
}

header li {border: 1px solid white;
    padding: 10px;
    font-size: 17px;
}

header a {
    text-decoration: none;
    color: white;
}

.nombre {
    padding: 0 10px;
    font-family: "Quantico", sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.botonContainer {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    z-index: -1;
}

.boton {
    background: #2071b2;
    border-radius: 50px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.boton i {
    position: absolute;
    font-size: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show boton {
    animation: popup .3s ease-in-out;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        width: 80px;
        height: 80px;
    }
    100%{
        width: 60px
        height: 60px;
    }
}