*{
    border: border-box;
    margin: 0;
    padding: 0;
}

body{background-color: rgb(187, 187, 187);
    /*background-image: url(Imagenes/CircuitBoard.gif);*/
    font-family: "Oswald", sans-serif;
    font-size: 16px;
}

.todo{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Portada principal */
.inicio{border: 1px solid white;
    height: 620px;
    margin-top: 10px;
    color: white;
    background: url(Imagenes/FondoAnimado1.gif) no-repeat center center/cover;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.inicio img{border: 1px solid white;
    width: 30%;
    height: 50%;
    margin-top: 10px;
    background: url(Imagenes/Logo1.png) no-repeat center center/cover;
    background-size: 100% 100%;
}
.bienvenido{border: 1px solid white;
    width: 26%;
    margin-top: 45px;
    font-family: "Quantico", sans-serif;   
    font-weight: bold;
    font-size: 4vw;
    letter-spacing: 3px;
}
.informacion{
    width: 700px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.verMas{
    width: 260px;
    font-size: 16px;
    margin-top: 20px;
}
.verMas input {
    margin: 0px 20px;
}

.areas{
    height: 100px;
    color: white;
}
.secciones{
    height: 40px;
}
.bordeInferior{
    height: 60px;
    background: linear-gradient(180deg, #910909 0%, rgba(107, 30, 30, 0) 200%);
}
.areas li{border: 1px solid white;
    font-size: 30px;
    list-style: none;
    display: inline-block;
}

.videojuegos{
    width: 100%;
    height: 800px;
    display: inline-block;
    list-style: none;
    color: white;
    background: url(Imagenes/Videojuegos1.jpg);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    background-position: center -100px;
    box-shadow: inset 0px 10px 20px #FFFFFF;
}

.articulo1{border: 1px solid red;
    width: 400px;
    height: 300px;
    background: url(Imagenes/Blog1.jpg);
    background-size: 400px 300px;
}
.articulo2{border: 1px solid red;
    width: 400px;
    height: 300px;
}
.articulo3{border: 1px solid red;
    width: 400px;
    height: 300px;
}
.articulo4{border: 1px solid red;
    width: 400px;
    height: 300px;
}
.articulo5{border: 1px solid red;
    width: 400px;
    height: 300px;
}
.articulo6{border: 1px solid red;
    width: 400px;
    height: 300px;
}
