*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Cuerpo */
body{
    background-color: black;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
}
    
/* Contenedor total */
.contenedor {
    width: 1519px;
    margin: 0 auto;
}
    .contenedor a { color: white; text-decoration: none; }
    .contenedor ul {
        list-style: none; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* Portada principal */
.inicio {
    height: 650px;
    margin: 10px 0;
    color: white;
    background-color: #2d3436;
    display: flex; 
    justify-content: space-between;
    /*background: url(Imagenes/FondoAnimado1.gif) no-repeat center center/cover;    */
}
    .izquierda {
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
        .izquierda img{
            width: 300;
            height: 300px;
            background-size: 100% 100%;
            margin-top: 20px;
        }
        .izquierda #canvas2 { border: 1px solid white;
            position: absolute;
            left: 0;
            width: 1519px;
            height: 650px;
            color: white;
        }
        /*.bienvenido{
            color: transparent;
            font-family: "Quantico", sans-serif;   
            font-weight: bold;
            font-size: 100px;
            text-shadow: 0 0 10px rgb(0, 185, 200), 0 0 0 white;
        }*/
        .bienvenido:hover {
            background: radial-gradient(70% 20% at 50% 50%, rgba(0, 185, 200, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
        }
        .bienvenido li {
            margin: 0 10px;
        }
        .informacion{
            width: 70%;
            font-size: 40px;
            line-height: 42px;
            margin-top: 140px;
            margin-bottom: 40px;
            letter-spacing: 1px;
            font-family: 'Alegreya Sans', sans-serif;
        }
        .verMas{ 
            font-family: 'Alegreya Sans', sans-serif;
            font-weight: bold;
        }

    #canvas3 { width: 50%; }
    
/* Menu banner */
.secciones li {
        padding: 0 10px;
        margin: 0 5px;
        border-radius: 10px;
        font-size: 18px;
    }
    .videojuegosBoton {
        background-color: #910909;
    }
    .iaBoton {
        background-color: green;
    }
    .musicaBoton {
        background-color: green;
    }
    .medicinaBoton {
        background-color: green;
    }
    .videojuegosBoton:hover, .iaBoton:hover, .musicaBoton:hover, .medicinaBoton:hover {
        padding: 0 25px;
        -webkit-text-stroke: 1px black;
        box-shadow: inset 0px 0px 10px gold;
    }


.bordeInferior{
    height: 30px;
    background: linear-gradient(180deg, #910909 20%, rgb(255, 255, 255) 120%);
}

/* Noticias de videojuegos */
.videojuegos {
    color: white;
    background: url(Imagenes/Videojuegos1.jpg) no-repeat center center/cover;
    box-shadow: inset 0px 0px 20px #FFFFFF;
    text-align: center;
}
.videojuegos section {
    padding: 60px 60px 0px 60px;
    gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.videojuegos article { 
    height: 300px;
    border: 1px solid white; 
    background-size: 100% 100%;
    border-radius: 25px;
}
.articulo1{ 
    background-image: url(Imagenes/Blog1.jpg);
}
.articulo2, .articulo3, .articulo4, .articulo5, .articulo6 {
    background: url(Imagenes/PublicaAqui-videojuegos.jpg);
}
.articulo1:hover, .articulo2:hover, .articulo3:hover, .articulo4:hover, .articulo5:hover, .articulo6:hover { 
    border: 3px solid rgb(0, 247, 255);
    box-shadow: inset 0px 0px 100px 25px rgb(0, 247, 255);
}

.verTodo {padding: 40px;}
.verTodo a{
    padding: 0 10px;
    border-radius: 75px;
    border: 1px solid rgb(165, 165, 165);
    background-color: rgb(97, 97, 97);
    font-size: 20px;
}
.verTodo a:hover {
    border: 3px solid white;
    box-shadow: inset 0px 10px 20px #FFFFFF;
}