*{
    margin: 0;
    padding: 0;
    left: 0;
}

.cuerpo{
    position: absolute;
    width: 1515px;
    height: 1810px;
    left: calc(50% - 1515px/2);
    display: block;
    text-align: center;
    background: url(Imagenes/Binario3.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1515px;
    background-attachment: fixed;
    background-color: black;
}

.inicio{
    position: absolute;
    width: 1515px;
    height: 640px;
    top: 70px;    
    color: white;
    background: url(Imagenes/FondoAnimado1.gif);
    background-size: 1515px 640px ;
    background-repeat: no-repeat;
}

.inicio img{
    width: 500px;
    height: 250px;
    margin-top: 30px;
}

.bienvenido{
    position: absolute;
    width: 900px;
    margin-top: 50px;
    left: calc(50% - 900px/2);;
    top: 270px;
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 0.7em;
}

.informacion{
    position: absolute;
    margin-top: 30px;
    width: 640px;
    left: calc(50% - 630px/2);
    top: 400px;
    font-size: 40px;
    line-height: 38px;
}

.verMas{
    position: absolute;
    width: 260px;
    left: calc(50% - 260px/2);
    top: 540px;
    font-size: 25px;
    margin-bottom: 100px;
}
.verMas input{
    margin-top: 8px;
}

.panelMenu{border: 1px solid red;
    position: absolute;
    top: 720px;   
    left: -1px;
}
.areas{
    width: 1515px;
    height: 100px;
    color: white;
}
.secciones{
    height: 40px;
}
.bordeInferior{
    height: 60px;
    background: linear-gradient(180deg, #910909 0%, rgba(107, 30, 30, 0) 200%);
}
.areas li{border: 1px solid white;
    font-size: 30px;
    list-style: none;
    display: inline-block;
}

.videojuegos{
    width: 1515px;
    height: 800px;
    display: inline-block;
    list-style: none;
    background: url(Imagenes/Videojuegos1.jpg);
    background-size: 1515px 1000px;
    background-repeat: no-repeat;
    background-position: center -100px;
    box-shadow: inset 0px 10px 20px #FFFFFF;
}

.articulo1{border: 1px solid red;
    position: absolute;
    width: 400px;
    height: 300px;
    left: calc(50% - 650px);
    top: 150px;
}
.articulo2{border: 1px solid red;
    position: absolute;
    width: 400px;
    height: 300px;
    left: calc(50% - 200px);
    top: 150px;
}
.articulo3{border: 1px solid red;
    position: absolute;
    width: 400px;
    height: 300px;
    left: calc(50% + 250px);
    top: 150px;
}
.articulo4{border: 1px solid red;
    position: absolute;
    margin-top: 150px;
    width: 400px;
    height: 300px;
    left: calc(50% - 650px);
    top: 350px;
}
.articulo5{border: 1px solid red;
    position: absolute;
    width: 400px;
    height: 300px;
    left: calc(50% - 200px);
    top: 500px;
}
.articulo6{border: 1px solid red;
    position: absolute;
    width: 400px;
    height: 300px;
    left: calc(50% + 250px);
    top: 500px;
}
.verTodo{
    position: absolute;
    left: calc(50% + 600px);
    top: 850px;
}