*{
    margin: 0;
    padding: 0;
    left: 0;
}

.pieDePagina{
    position: absolute;
    width: 1515px;
    height: 250px;
    top: 1560px;
    background: black;
    color: white;
    clear: both;
}

hr{
    color: red;
    top: 65px;
}