* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../grupal/img/R\ \(2\).gif);
    background-size: cover;
    color: rgb(1, 196, 255);
    font-size: 16px;
    text-align: center;
}

/* Contenedor de noticia excluyendo barraInicial y pieDePagina*/
.contenedor{ 
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 1200px;
    margin: 10px auto;
}

/* Titulo*/
H1 { 
    font-size: 45px;
    font-weight: bold;
    color: transparent;
    text-shadow: 0 0 10px rgb(255, 81, 0), 0 0 0 white; /* Sombra de texto */
    /* -webkit-text-stroke: 1px white; Borde del texto */
}

/* Contenido de noticia y articulos */
.contenido { 
    display: grid; /* visualizar como tabla */
    grid-template-columns: 1fr 1fr; /* establecer columnas */
    text-align: justify;
    margin: 10px 20px;
    gap: 150px;
}

/* Noticia */
.miBlog { 
    width: 800px;
    font-family: 'Roboto Mono', monospace;
    padding: 0 10px;
}

    p{
        color: wheat;
    }
    li{
        color: darkorange;
        ;
    }
    h1{
        color: wheat;
    }
    
    h2 {
        margin: 5px 0;
        color: yellowgreen;
    }

    h3 {
        color: rgb(76, 243, 20);
        margin: 5px 0;
    }
    .imagen1 { 
        width: 300px;
        margin: 10px auto;

    }

    /* lista */
    .miBlog ul {
        margin-top: 3px;
        margin-left: 50px;
    }

/* Articulos */
.articulos {
    width: 200px;    
    text-align: center;
}
    /* Titulo de mas noticias */
    .articulos h3 {
        font-size: 18px;
        color: white;
        margin: 5px 0;
    }

    /* Noticias */
    .articulos section {
        width: 200px;
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px 0;
    }
    
   
    .articulos a {
        border: 1px solid gray;
        width: 200px;
        height: 200px;
        cursor: pointer;
        margin: 10px 0;
    }
    
    .noticia1:hover {
        border: 1px solid white;
        box-shadow: inset 0px 0px 50px rgb(0, 247, 255);
        
    }
    .noticia2:hover {
        border: 1px solid white;
        box-shadow: inset 0px 0px 50px rgb(0, 247, 255);
    }
/* 
    margin-top: espacio fuera del cuadro desde arriba
    margin-bottom: espacio fuera del cuadro desde abajo
    margin-left: espacio fuera del cuadro desde la izquierda
    margin-rigth: espacio fuera del cuadro desde la derecha
    maring: espacio en todos los lados
    margin: 0px       0px;
        arriba y    derecha e izquierda
        abajo
*/



