* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(grupal/img/sFaoXq3.gif);
    background-size: cover;
    color: white;
    font-size: 16px;
}

/* Contenedor de noticia */
.contenedor{ border: 1px solid white;
    margin: 10px 150px;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Titulo*/
H1 { 
    font-size: 45px;
    font-weight: bold;
    color: darkturquoise;
}

/* Contenido de noticia y articulos */
.blogArticulos {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.blogArticulos img {
    width: 200px;
    border: cyan solid 5px;
    margin: 15px 15px;
    padding: 5px 5px;
}

