body{mask-image: image(img/IntArt);}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    width: 300px;
}
h2{
    font-family: fantasy;
    font-size: 30px;
    color: darkcyan;
}

h4{
    mask-image: image(img/iconoDiscord)
}