* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(50, 50, 50);
}

.todo{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.titulo{
    height: 170px;
    font-size: 36px;
    color: transparent;
    text-shadow: 0 0 8px cyan, 0 0 0 black;
    background: linear-gradient(180deg, rgb(0, 97, 97) 0%, rgb(255, 255, 255) 100%);
}

.fondo{
    height: 600px;
    background: url(Imagenes/Doctor-doctora.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}
.hola1{border: 1px solid yellow;
    background: #387EB8;
    padding: 20px;
    display: flex;
    gap: 20px;
}
.hola1 h2{
    width: 790px;
    line-height: 60px;
    background: rgba(116, 243, 243, 0.9);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
}
.hola1 p{
    width: 800px;
    margin-top: 10px;
    text-align: justify;
    font-size: 24px;
}
.hola1 img{
    width: 350px;
    height: 350px;
    margin-top: auto;
    border-width: 10px rgb(255, 208, 0);
    border-style: groove;
}

.hola2{
    background: #FFD100;
    padding: 20px;
    gap: 20px;
    display: flex;
}
.hola2 img{
    width: 350px;
}
.hola2 div{
    width: 800px;
    font-size: 24px;
    text-align: right;
}